.list{
	overflow-y: auto;
	padding-bottom: 0;
}
.storeInfoDates{
	height: 50px;
	width: 100%;
	background-color: white;
	padding: 0;
}
.storeInfoDates{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.dateItem{
	flex-grow: 1;
	text-align: center;
}
.lblDate{
	font-size: 12px;
	font-weight: bold;
}
.valDate{
	font-size: 18px;
	display: block;
}

.table{
	background-color: white;
	margin-top: 5px;
}

.table>thead{
	text-transform: capitalize;
}

.table>thead>tr>th{
	border-bottom-width: 1px;
}
.table>tbody>tr>td:first-child{
	text-align: left;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td{
	vertical-align: middle;
}

.ui-datepicker-header,
td.ui-datepicker-current-day a,
td.ui-datepicker-current-day a:active,
td.ui-datepicker-current-day a:hover{
    background-color: #0097a7 !important;
} 