.container {
    padding-right: 5px;
    padding-left: 5px;
}

.modal-header .close{
	margin-top: -20px;
	font-size: 14px;
}
.item{
	width: 100%;
}
.item_title{
	display: block;
	text-align: left;

	font-size: 24px;
}
.item_subtitle{
	display: block;
	text-align: left;

	font-size: 14px;
}
.item_title,
.item_subtitle{
	padding: 1px 6px;
}
.item{
	padding: 0;
}
.form-group{
	margin-top: 0;
}

.iconReport{
	display: block;	
	width: 100%;

	height: 80px;
}
.icon-bar{
	border-color: #f1f1f1 !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.ip{
	display: flex;
	flex-direction: row;
}
.ip-val{
	margin: 0 5px;
	flex-grow: 1;
}
.report1 .iconReport{
  background: rgba(136,58,209);
  background: url('../../img/iconReport1-white.svg') center center no-repeat, url('../../img/bg_report1.jpg') center center no-repeat;
  background-size: 80px, 100%;
}
.report2 .iconReport{
  background: #c62828;
  background: url('../../img/iconReport2-white.svg') center center no-repeat, url('../../img/bg_report2.jpg') center center no-repeat;
  background-size: 80px, 100%;
}
.report3 .iconReport{
	background: #6a1b9a;
  background: url('../../img/iconReport3-white.svg') center center no-repeat, url('../../img/bg_report3.jpg') center center no-repeat;
  background-size: 80px, 100%;
}
.report4 .iconReport{
  background: #6a1b9a;
  background: url('../../img/iconReport4-white.svg') center center no-repeat, url('../../img/bg_report4.jpg') center center no-repeat;
  background-size: 80px, 100%;
}
.report5 .iconReport{
  background: #6a1b9a;
  background: url('../../img/iconReport5-white.svg') center center no-repeat, url('../../img/bg_report5.jpg') center center no-repeat;
  background-size: 80px, 100%;
}
.report6 .iconReport{
  background: #6a1b9a;
  background: url('../../img/iconReport6-white.svg') center center no-repeat, url('../../img/bg_report6.jpg') center center no-repeat;
  background-size: 80px, 100%;
}

.bg-material{
	background: #333;
	background: url('../../img/bg_material.jpg') center center no-repeat;
}
.bg-material-white{
	background: #f1f1f1;
	background: url('../../img/bg_material-white.jpg') center center no-repeat;
}
.bg-material,
.bg-material-white{
	background-size: cover;
	background-attachment: fixed;
}

.btn,
.modal-footer .btn{
	margin: 6px 1px;
	padding: 0 20px;
}
.bs-component{
	width: 100%;
}
hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
hr:last-child{
	margin-top: 0px;
	margin-bottom: 0px;
}
.modal-footer{
	margin-top: 0;
}
.delete {
  position: absolute !important;
  right: 10px;
  width: 26px !important;
  height: 26px !important;
  min-width: 26px !important;
  line-height: 0px !important;
  top: 0;
  bottom: 0;
  margin: auto;
}
.collection-item{
	position: relative;
}
.delete::before{
	content: 'x';
	font-size: 14px;
	color: white;
}
.actual p,.global p,
.actual i,.global i,
.actual span,.global span{
    display: inline-block;
}
.navbar{
	margin-bottom: 5px;
}

.navbar .navbar-brand{
	z-index: 300;
}
.btn-right{
	position: absolute;
	z-index: 600;
	top: 0;
	right: 0;
	width: 180px;
	margin: 0;
	padding: 0;
	text-align: right;
	height: 50px;
}
.btn-right .btn{
	padding-top: 6px;
}

.section{
	padding-top: 0;
}
.combo{
	padding-bottom: 5px;
}

div[class^="select-"] .item{
	position: relative;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
.section .item{
	margin-bottom: 0;
}
.store h1{
    width: 100%;
    font-size: 20px;
    font-weight: bold;    
    line-height: 1.6em;
    white-space: pre-line;
    color: rgba(0,0,0, 0.87);
}
.store h1{
	margin: 2px 0;
}

.stores,#divClasification,.storeGraphic{
	background-color: white;
	padding: 0 5px;
}

.item.selected{
	font-weight: bold;
	box-shadow: none;
}
ul .item{
	box-shadow: none;
}
.dropdown-content li>a *, .dropdown-content li>span,
.chkTax label{
    font-size: 16px;
    color: #26a69a;
}
.chkTax label{
	line-height: initial;
}
.close{
	opacity: 1;
}
.dropdown-content label{
	margin-bottom: 0px;
}

/*list of stores in Modal*/
.list_store{
	height: 240px;
	overflow-y: auto;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.list_store h1{
	font-size: 16px;
	margin: 0;
	font-weight: bold;
	height: 44px;
	text-align: center;
	line-height: 44px;
	border-bottom: 1px solid #e0e0e0;
}
.list_store .active{
	background-color: rgba(0,0,0,.06);
}

.list_store h1:last-child{
	border-bottom: none;
}


/*Dropdown*/
.collection .collection-item{
	padding-top: 0px;
	padding-bottom: 0px; 
}