.showGraphic {
    opacity: 1 !important;
    height: 144px !important;
}
div[class^="chartdiv-"]{
    width: 70%;
    height: 100px;
    display: inline-block;
    float: left;
    
}
.store{
	display: block;
}


.store h1{
    width: 77%;
    display: inline-block;
}
.lastConexion {
    display: inline-block;
    width: 23%;
    font-size: 10pt;
    text-align: center;
    line-height: 14pt;
    position: relative;
    vertical-align: top;
    color: #CE291E;
}
.lblLastConexion{
    width: 45%;
}
.dataLastConexion{
    width: 54%;
}
.lblLastConexion,.dataLastConexion{
    line-height: 20pt;
    display: inline-block;
}
.actual p,.global p,
.actual i,.global i,
.actual span,.global span{
    display: inline-block;
}
.actual i,.global i{
    width: 12%;
    font-size: 16px;
    font-style: normal;
    color: #0000CD;
}
.actual p,.global p{
    width: 26.5%;
    font-size: 16px;
    text-align: left;
}
.actual span,.global span{
    width: 23%;
    padding-right: 0;
    padding-top: 4pt;
    padding-bottom: 4pt;
    text-align: right;
    font-size: 16px;
    text-align: center;
    color: white !important;
}
.actual span.red, .global span.red{
    background-color: #CE291E;
    border-radius: 2px;
} 
.actual span.green, .global span.green {
    background-color: #55982E;
    border-radius: 2px;
}
.actual span.ambar, .global span.ambar {
    background-color: #FF8C00;
    border-radius: 2px;
}
div[class^="graphic-"]
{
    height: 0;
    width: 100%;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: all 0.12s cubic-bezier(.18, .06, .19, .80); 
    transition: all 0.12s cubic-bezier(.18, .06, .19, .80); 
}
#time,
#yesterday, #today, #week, #yesterday, #month, #year{
	display: block !important;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 10px;
    height: 20px;
}
.select-region .item{
	background-color: transparent;
	box-shadow: none;
}
.select-region hr{
	height: 0;
	margin: 0;
}


div[class^="chartdiv-"]{
    width: 70%;
    height: 100%;
    display: inline-block;
    float: left;
    
}
div[class^="detalle-"]{
    width: 30%;
    height: 100%;
    display: inline-block;
    float: right;
}.
year, .quantity{
    font-size: 12px;
}
.year , div[class^="detalle-"] i {float: left; width: 40%;}
.quantity, div[class^="detalle-"] span{float: right; width: 60%; text-align: right;}
div[class^="detalle-"] i,
div[class^="detalle-"] span{
    margin: 0;
    padding: 0;
}


.infoReport1{display: block; width: 100%; margin-bottom: 10px;}
.infoReport1 i,
.infoReport1 span{
    display: inline-block;
}
.infoReport1 i{width: 19%; color: #0000CD;}
.infoReport1 span{
    width: 30%;
    vertical-align: -webkit-baseline-middle;
    vertical-align: baseline-middle;
}