#btn_right.storeIcon{
    background-image: url(../img/iconStore.svg);
    background-position: center;
    background-size: 34px 34px;
    background-repeat: no-repeat;
}
#txt_title {
    width: inherit;
}